#gallery-section {
    position: relative;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.gallery-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery-container {
    max-width: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    visibility: hidden;
}

#gallery-section h2 {
    font-family: cursive;
    text-align: center;
    font-size: calc(1vw + 12px);
    padding: 10px;
}

.gallery-container h3 {
    font-family: cursive;
    font-size: calc(0.8vw + 12px);
}

.gallery-right-animation {
    animation: slide-from-left 1s forwards, fade-in 3s forwards;
    visibility: visible;
}

.gallery-bottom-animation {
    animation: slide-from-bottom 1s forwards, fade-in 3s forwards;
    visibility: visible;
}

.gallery-left-animation {
    animation: slide-from-right 1s forwards, fade-in 3s forwards;
    visibility: visible;
}

.gallery {
    position: relative;
    width: 100%;
    aspect-ratio: 5/7;
    border-radius: 1em;
}

.gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;

    transition: transform 0.1s ease-out;
}

.gallery img:nth-child(1) {
    transform: translate(-8%, 5%) rotate(-3deg);
}

.gallery img:nth-child(2) {
    transform: translate(-4%, 3%);
}

.gallery img:nth-child(3) {
    transform: translate(4, 2%) rotate(3deg);
}

.gallery img:nth-child(4) {
    transform: translate(8%, 0%) rotate(3deg);
}

.gallery:hover img:nth-child(1) {
    transform: translate(-40%, -2%) rotate(-12deg);
}

.gallery:hover img:nth-child(2) {
    transform: translate(-20%, -6%) rotate(-6deg);
}

.gallery:hover img:nth-child(3) {
    transform: translate(10%, -5%) rotate(6deg);
}

.gallery:hover img:nth-child(4) {
    transform: translate(40%, -4%) rotate(15deg);
}

/*  */

.popup-container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0, 0.8);

    z-index: 1000;
}

.slideshow-container {
    width: 600px;
    aspect-ratio: 5/7;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s ease-out;
}

.slideshow img.active {
    transform: translateX(0) scale(1);
}

.slideshow img.inactive {
    transform: translateX(-100%) scale(0);
}

.slideshow img.inactive-to-left {
    transform: translateX(-100%) scale(0);
}

.slideshow img.inactive-to-right {
    transform: translateX(100%) scale(0);
}

.popup-container button {
    position: absolute;
    height: 100%;
    padding: 10px 50px;

    background-color: rgba(0,0,0,0.3);
    border: none;
    outline: none;

    background-size: 64px;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    transition: 0.8s;

    z-index: 20;
}

.left {
    background-image: url('../assets/icons/left.svg');
}

.right {
    background-image: url('../assets/icons/right.svg');
    right: 0;
}
