#gallery-section {
    height: 75vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-container {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    position: relative;
    width: 250px;
    aspect-ratio: 5/7;
    border-radius: 1em;
}

.gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;

    transition: transform 0.1s ease-out;
}

.gallery img:nth-child(1) {
    transform: translate(-8%, 5%) rotate(-3deg);
}

.gallery img:nth-child(2) {
    transform: translate(-4%, 3%);
}

.gallery img:nth-child(3) {
    transform: translate(4, 2%) rotate(3deg);
}

.gallery img:nth-child(4) {
    transform: translate(8%, 0%) rotate(3deg);
}

.gallery:hover img:nth-child(1) {
    transform: translate(-40%, -2%) rotate(-12deg);
}

.gallery:hover img:nth-child(2) {
    transform: translate(-20%, -6%) rotate(-6deg);
}

.gallery:hover img:nth-child(3) {
    transform: translate(10%, -5%) rotate(6deg);
}

.gallery:hover img:nth-child(4) {
    transform: translate(40%, -4%) rotate(15deg);
}

/*  */

.popup-container {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0, 0.8);

    z-index: 1000;
}

.slideshow-container {
    width: 400px;
    aspect-ratio: 5/7;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
}

.slideshow {

}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s ease-out;
}

.slideshow img.active {
    transform: translateX(0) scale(1);
}

.slideshow img.inactive {
    transform: translateX(-100%) scale(0);
}

.slideshow img.inactive-to-left {
    transform: translateX(-100%) scale(0);
}

.slideshow img.inactive-to-right {
    transform: translateX(100%) scale(0);
}

.slideshow-container button {
    position: absolute;
    height: 100%;
    padding: 10px 20px;

    background-color: transparent;
    outline: none;
}

.left {
}

.right {
    right: 0;
}
