header {
    height: 50vh;
    background-color: rgb(20,20,20);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 1;
}

h1 {
    margin: 0px;
    padding: 20px;

    font-family: Kristi;
    color: rgb(255, 255, 255);
    font-size: calc(10vw + 18px);
    text-align: center;

    background-image: url('../assets/flowers.jpg');
    background-size: 300px 300px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: pulse 2s infinite alternate 3s, slide-from-left 3s, fade-in 5s;
}

