#hidden-present {
    background-color: rgb(20, 20, 20);
    height: 80vh;

    display: flex;
    flex-direction: column;
}

#hidden-present h2 {
    color: white;
    text-align: center;
}

.hidden {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: none;
}

.hidden:not(:hover) .circle {
    display: none;
}

.hidden span {
    color: rgb(20, 20, 20);
    position: absolute;
    top: 75%;
    left: 60%;
    text-align: center;
    z-index: 2;
}

.title {
    background-color: rgb(25,25,25);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title h2 span {
    display: block;
    animation: fade-in 2s;
}

.circle {
    background-color: rgb(46, 45, 45);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -50%);
}
